# pinned dependencies to reproduce an entire development environment to use HDMF-AI, run HDMF-AI tests, check code
# style, compute coverage, and create test environments. note that depending on the version of python installed,
# different versions of requirements may be installed due to package incompatibilities.

black==24.3.0; python_version >= "3.8"
codespell==2.2.6; python_version >= "3.8"
coverage==7.4.4; python_version >= "3.8"
pre-commit==3.3.1; python_version >= "3.8"
pytest==8.1.1; python_version >= "3.8"
pytest-cov==5.0.0; python_version >= "3.8"
ruff==0.3.5

black==23.3.0; python_version < "3.8"  # black 24 dropped python 3.7 support
codespell==2.2.5; python_version < "3.8"  # codespell 2.2.6 dropped python 3.7 support
coverage==7.2.7; python_version < "3.8"  # coverage 7.3 dropped python 3.7 support
pre-commit==2.21.0; python_version < "3.8"  # pre-commit 3 dropped python 3.7 support
pytest==7.4.4; python_version < "3.8"  # pytest 8 dropped python 3.7 support
pytest-cov==4.1.0; python_version < "3.8"  # pytest-cov 5 dropped python 3.7 support
